.App {
  text-align: left;
  user-select: none;
}

.search {
  padding: 4px 8px;
}

input[type=text] {
  background: url('search.svg') no-repeat 1px 3px;
  background-size: 16px 16px;
  border: 0px solid #cecece;
  border-bottom-width:1px;
  outline: none;
  padding: 4px;
  padding-left: 20px;
  width: 446px;
}

ul {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul ul {
  padding-left: 10px;
}

li {
  position:relative;
}

li:hover, div.folder:hover {
  background-color: #ebebeb;
}

li, div.folder {
  padding: 2px 14px 6px 8px;
  height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li > span, div.folder > span {
  vertical-align: middle;
}

li .bookmark-remove {
  display:inline-block;
  position:absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
  height: 100%;
}
li:hover .bookmark-remove {
  visibility: visible;
}
.bookmark-remove-prompt, .bookmark-remove-confirm {
  display: none;
  color: white;
  padding: 3px 6px 0px 6px;
  vertical-align:top;
  height: 100%;
}
.bookmark-remove-prompt {
  background: #f34541;
}
.bookmark-remove-confirm {
  background: #2392fe;
}
.bookmark-remove-hover .bookmark-remove-prompt  {
  display: inline-block;
}
.bookmark-remove-clicked .bookmark-remove-confirm  {
  display: inline-block;
}
li .bookmark-remove-icon {
  display:inline-block;
  background: url('trash.svg') no-repeat center;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  height: 100%;
}

li .bookmark-remove-icon.bookmark-remove-hover {
  background-color:#f34541;
  text-align: center;
  color:white;
}
li .bookmark-remove-icon.bookmark-remove-clicked {
  background: url('check.svg') no-repeat center;
  background-color:#2392fe;
  color:white;
}

li.hidden {
  display:none;
}

ul.collapsed {
  display: none;
}
ul.expanded {
  display: block;
}

img {
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

mark {
  font-weight: bold;
  background-color: transparent;
}

.empty {
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 80px;
  color: #cecece;
}

.command-bar {
  padding: 20px;
  text-align: center;
}
/* 
.command-bar button {

} */